attrs==21.4.0
autopep8==1.6.0
bokeh==2.4.3
Brotli==1.0.9
click==8.1.3
cloudpickle==2.1.0
colorcet==3.0.0
dash==2.5.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2022.6.0
datashader==0.14.0
datashape==0.5.2
distributed==2022.6.0
Flask==2.1.2
Flask-Compress==1.12
fsspec==2022.5.0
h5py==3.7.0
HeapDict==1.0.1
importlib-metadata==4.11.4
iniconfig==1.1.1
itsdangerous==2.1.2
Jinja2==3.1.2
llvmlite==0.38.1
locket==1.0.0
MarkupSafe==2.1.1
msgpack==1.0.4
multipledispatch==0.6.0
numba==0.55.2
numpy==1.22.4
packaging==21.3
pandas==1.4.2
param==1.12.1
partd==1.2.0
Pillow==9.1.1
plotly==5.8.2
pluggy==1.0.0
psutil==5.9.1
py==1.11.0
pycodestyle==2.8.0
pyct==0.4.8
pyparsing==3.0.9
pytest==7.1.2
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
scipy==1.8.1
six==1.16.0
sortedcontainers==2.4.0
tblib==1.7.0
tenacity==8.0.1
toml==0.10.2
tomli==2.0.1
toolz==0.11.2
tornado==6.1
typeguard==2.13.3
typing-extensions==4.2.0
urllib3==1.26.9
Werkzeug==2.1.2
xarray==2022.3.0
zict==2.2.0
zipp==3.8.0
