:root {
  --color-bg: #2f2f2f;
  --color-text: white;
  --color-emph: #00bcd4;
}


body {
  background-color: var(--color-bg);
}

/*
 * Dropdown
 */
#field-dropdown {
  width: 150px;
  cursor: pointer;
}
#field-dropdown > div > div {
  cursor: pointer!important;
}
#field-dropdown .VirtualizedSelectFocusedOption {
  color: var(--color-text);
  background-color: var(--color-emph);
}
#field-dropdown .VirtualizedSelectSelectedOption {
  font-weight: normal;
  text-decoration: underline;
}
