:root {
  --color-bg: #2f2f2f;
  --color-text: white;
  --color-emph: #00bcd4;
}

body {
  background-color: var(--color-bg);
  font-family: 'JetBrains Mono', 'Roboto', monospace;
  font-size: 85%;
  color: var(--color-text);
}

/*
 * Dropdown
 */
.dash-dropdown {
  color: black;
  cursor: pointer;
}

#field-dropdown {
  width: 150px;
}

#field-dropdown>div>div {
  cursor: pointer !important;
}

#field-dropdown .VirtualizedSelectFocusedOption {
  color: var(--color-text);
  background-color: var(--color-emph);
}

#field-dropdown .VirtualizedSelectSelectedOption {
  font-weight: normal;
  text-decoration: underline;
}

/* 
 * Configure tab
 */

.sim-label {
  font-weight: bold;
  color: var(--color-text);
}